<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- Mybatis 설정. DB의 underscore를 자바의 camelCase로 매핑 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- NULL 값을 JDBC 타입으로 지정 -->
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>
</configuration>